.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F1EFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    opacity: 1;
    visibility: visible;
}

.loading-screen-closing {
    opacity: 0;
    visibility: hidden;
}

.loading-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-screen-content:has(.loading-welcome) {
    justify-content: space-between;
    padding-top: 40px;
}

.loading-title {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    color: #414141;
    margin: 0;
    text-align: center;
    animation: fadeInUp 0.6s ease-out 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.loading-initial-container,
.loading-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    position: absolute;
    width: 100%;
}
    

.loading-initial-container {
    opacity: 1;
    transform: translateY(0);
}

.loading-initial-container.fade-out {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.loading-welcome-container {
    opacity: 0;
    transform: translateY(10px);
    gap:200px;
}

.loading-welcome-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.loading-welcome {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    color: #414141;
    margin: 0;
    text-align: center;
    padding: 18px 20px;
}

.loading-logo {
    max-width: 100%;
    height: auto;
    display: block;
    animation: fadeInUp 0.6s ease-out 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
        